* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #333;
  background-color: #5f3c66;
}

p {
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  padding: 256px 0;
  max-height: 100vh;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, #f88ba2 24%, #5f3c66 100%);
}

.hero__content {
  position: relative;
}

.hero__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero__bg--1 {
  background: linear-gradient(90deg, #5f3c66 24%, #608a7b 100%);
  animation: show-4 30s infinite;
}

.hero__bg--2 {
  background: linear-gradient(90deg, #608a7b 24%, #b3ccb2 100%);
  animation: show-3 30s infinite;
}

.hero__bg--3 {
  background: linear-gradient(90deg, #b3ccb2 24%, #f88ba2 100%);
  animation: show-2 30s infinite;
}

.hero__bg--4 {
  animation: show-1 30s infinite;
  background: linear-gradient(90deg, #f88ba2 24%, #5f3c66 100%);
}

@keyframes show-1 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-2 {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-3 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-4 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hero__title {
  font-size: 128px;
  margin: 0;
}

.hero__divider {
  height: 6px;
  width: 70%;
  max-width: 800px;
  background-color: white;
  margin: 0 auto;
}

.hero__subtitle {
  font-size: 64px;
  font-weight: 300;
  margin: 0;
  padding: 24px 0;
}

.countdown {
  margin-top: 200px;
  font-size: 32px;
  font-weight: bold;
}

.countdown__time {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.countdown__item {
  margin: 0 16px;
  min-width: 88px;
}

.content {
  padding-top: 64px;
  padding-bottom: 64px;
}

.content__title {
  background: linear-gradient(72deg, #b3ccb2 -10%, #608a7b 30%, #b3ccb2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.challenge__row {
  display: flex;
}

.challenge__col {
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .hero__title {
    font-size: 12vw;
  }
  .hero__subtitle {
    font-size: 8vw;
  }
  .countdown {
    font-size: 4vw;
    margin-top: 64px;
  }
  .countdown__time {
    flex-flow: row wrap;
  }
  .countdown__item {
    min-width: 0;
    margin-bottom: 32px;
  }
}
